<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/logo.png" type="image/png">
<title>Eatreal - Online Grocery Supermarket Mobile Template</title>

<link rel="stylesheet" href="vender/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="vender/icofont/icofont.min.css">
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">

<link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-light d-flex flex-column vh-100">
<div class="vh-100 my-auto overflow-auto">
<section>
<div class="container d-flex flex-column">

<div class="row min-vh-100 justify-content-center align-items-center">

<div class="mx-auto col-lg-10">
<div class="row justify-content-center align-items-center">

<div class="col-md-6">
<div class=" mb-6 mb-lg-0 text-center py-4">
<a class="navbar-brand m-0 d-lg-block flex-shrink-0" href="index.html">
<img src="img/logo.png" alt class="img-fluid logo-img">
</a>
<h1 class="mt-4">Something’s wrong here...</h1>
<p class="mb-5">We can’t find the page you’re looking for.<br>
Check out our help center or head back to home.
</p>

<a href="#" class="py-2 px-4 rounded-pill btn btn-dark">Help Center</a>

<a href="index.html" class="py-2 px-4 rounded-pill btn btn-danger ms-2">Back to home</a>
</div>
</div>
<div class="col-md-6 px-0">
<div>

<img src="img/svg/error.svg" alt class="img-fluid">
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>

<script src="vender/bootstrap/js/bootstrap.bundle.min.js" type="bf23052f8329b11b1212713e-text/javascript"></script>

<script src="vender/jquery/jquery.min.js" type="bf23052f8329b11b1212713e-text/javascript"></script>

<script src="vender/slick/slick/slick.min.js" type="bf23052f8329b11b1212713e-text/javascript"></script>

<script src="js/quantity.js" type="bf23052f8329b11b1212713e-text/javascript"></script>

<script src="js/script.js" type="bf23052f8329b11b1212713e-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="bf23052f8329b11b1212713e-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"8596f5079fea32e4","version":"2024.2.1","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","b":1}' crossorigin="anonymous"></script>
</body>
</html>